//---------------------------------------------------------------------------
//
// Name:        nakamuraApp.rc
// Author:      JRAV
// Created:     2018-04-06 3:25:52 PM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
